.stickhead,
.fixed {
    background: black;
    padding: .8em 3em;
    box-shadow: 0 .05em .25em rgba(0, 0, 0, .7);
    /* text-align: justify; */
}

body {
    background: #212121;
    margin: auto 0;
}

p {
    font-family: helvetica, trebuchet ms, sans-serif;
}

.content {
    padding-left: 10%;
    padding-right: 10%;
}

.moose {
    margin: auto 0;
    text-align: center;
}

* {
    color: #a3a3a3;
}

.top {
    line-height: .5em;
}