.main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.transformation {
    position: relative;
    top: 100px;
}

.main-body {
    position: relative;
    top: 120px;
}

.main-header,
.header {
    background: #ccc;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
    width: 100%;
    z-index: 2;
    height: 100px;
    margin: auto 0;
    text-align: center;
}

.content {
    margin: 10%;
    align-content: center;
}

p {
    font-family: helvetica;
}

.experience {
    z-index: 3;
}

.education {
    z-index: 4;
}

.skills {
    z-index: 5;
}

.header h1 {
    display: inline-block;
}