.stickhead,
.fixed {
    background: linear-gradient(#999, #000);
    padding: .8em 3em;
    box-shadow: 0 .05em .25em rgba(0, 0, 0, .7);
    /* text-align: justify; */
    color: #fff;
}

body {
    background: whitesmoke;
    margin: auto 0;
}

p {
    font-family: helvetica, trebuchet ms, sans-serif;
}

.content {
    padding-left: 10%;
    padding-right: 10%;
}

.moose {
    margin: auto 0;
    text-align: center;
}